@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    .site-container {
        @apply
        relative
        items-center
        justify-center
        w-full w-screen h-screen
    }

    .site-content{
        @apply
        container flex flex-col-reverse  items-center justify-center h-full max-w-6xl pl-0 mx-auto -mt-24 sm:pl-8 xl:pl-0 md:flex-row md:justify-between
    }
    .text-color{
        @apply
        leading-relaxed text-lightp  dark:text-darkp font-textfont
    }
    .text-title{
        @apply
        text-3xl  font-medium font-textfont dark:text-white
    }


    /*Hero page*/
    .icon{
        @apply
        fill-current
        text-lightp
        dark:text-darkp
        dark:hover:text-darkblue
        hover:text-yellow-300
        w-12 h-12
        transform hover:scale-125
    }


/*    Header*/
    .switch{
        @apply
        inline-flex w-12 h-6  rounded-full focus:outline-none transition-colors px-0.5 py-0.5 bg-yellow-300 dark:bg-darkblue
    }
    .switch-image{
        @apply
        w-5 h-5 bg-white rounded-full
    }


/*    ABOUT*/

    .dot{
        @apply
        flex-shrink-0 w-6 h-6 rounded-full mt-16 sm:mt-0  bg-yellow-300 dark:bg-darkblue  relative z-10
    }
    .line{
@apply
h-full w-1 bg-gray-200  dark:bg-darkp pointer-events-none
    }
}





/*Skills page perspective*/
.wrap {



    -webkit-perspective: 2500px;
    perspective: 2500px;
    -webkit-perspective-origin: 100% 50%;
    perspective-origin: 100% 50%;
}
.wrap .list {
        width: 60%;

    webkit-transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
    transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);

}
.wrap .list::-webkit-scrollbar {
    display: none;
}


